.row{
  position: absolute;
}
.c1{
background-color: red;
}
.c2{
background-color: yellow;
}
.c3{
background-color: green;
}
.c4{
background-color: blue;
}
.w-100{
background-color: black;
}
